<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListProductsController</servlet-name>
        <servlet-class>controller.ListProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListShippersController</servlet-name>
        <servlet-class>controller.ListShippersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>controller.product.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.product.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderController</servlet-name>
        <servlet-class>controller.ConfirmOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportController</servlet-name>
        <servlet-class>controller.product.ImportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderController</servlet-name>
        <servlet-class>controller.CancelOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertShipperController</servlet-name>
        <servlet-class>controller.shipper.InsertShipperController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShipperController</servlet-name>
        <servlet-class>controller.shipper.ViewShipperController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailListController</servlet-name>
        <servlet-class>controller.product.DetailListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>controller.product.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controller.product.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderController</servlet-name>
        <servlet-class>controller.order.ListOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListProductsController</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/logins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListShippersController</servlet-name>
        <url-pattern>/listshipper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/product/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/product/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderController</servlet-name>
        <url-pattern>/confirmorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportController</servlet-name>
        <url-pattern>/product/import</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderController</servlet-name>
        <url-pattern>/cancelorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertShipperController</servlet-name>
        <url-pattern>/shipper/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShipperController</servlet-name>
        <url-pattern>/shipper/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailListController</servlet-name>
        <url-pattern>/product/detaillist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/product/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/product/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderController</servlet-name>
        <url-pattern>/order/list</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1000000
        </session-timeout>
    </session-config>
</web-app>
