/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2022, 8:46:21 PM
    Author     : Bi
*/

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: whitesmoke;
}

.card_background{
    height: 128px;
}

.buttonHolder{
    text-align: center;
}

.card_background img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.header-card {
    overflow: hidden;
}

